/* styles.css */

/* Specify font for body text */
body {
    font-family: Lato, sans-serif; /* Change to your preferred body font */
    margin: 0;
    padding: 0;
}

/* Specify font for title */
header {
    background-color: #1D6CD4;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: Abril Fatface, serif; /* Change to your preferred title font */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline; /* Changed to inline for horizontal navigation */
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    text-align: center;
    padding: 0px;
}

contact {
    padding: 0px;
}

footer {
    background-color: #1D6CD4;
    color: #fff;
    text-align: center;
    padding: 10px;
}
