/* Global styles */
body {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #007ACC;
    color: #FFF;
    text-align: center;
    padding: 20px;
    font-family: Abril Fatface, serif; /* Specify font for title */
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block; /* Changed to inline-block for horizontal navigation */
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin from last list item */
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
}

/* Main content section styles */
section {
    text-align: center;
    padding: 20px; /* Add padding for better spacing */
    color: #333;
}

/* Contact section styles */
.contact {
    padding: 20px;
    text-align: center;
    font-family: Lato, sans-serif; /* This will ensure it has the same font as the body */
    font-size: 0.8em; /* This will make the text size smaller */
    color: #FFF; /* This will change the text color to white for visibility on the footer's background */
}

/* Footer styles - Modified to include .contact class */
footer, .contact {
    background-color: #007ACC;
    color: #FFF;
    text-align: center;
    font-family: Abril Fatface, serif;
    padding: 10px;
}
